#container {
  width: 400px;
  height: 120px;
  overflow: hidden;
  marging: 10px;
  zoom: 150%;
}

#container > div {
  width: 10000px;
  height: 120px;
  white-space: nowrap;
}

#controls {
  padding: 15px;
}

#controls > button {
  margin: 5px;
}

.scroll {
  transition: transform 5s linear, opacity 0.5s ease-out, fill 0.2s linear;
}

.scrolling {
  transform: translate(-400px, 0);
}

.correct {
  opacity: 0;
}

.too-slow {
  transform: translate(-400px, 2000px);
}

